<table align="center" class='width100'>
<tr>
    <td valign="top" class="width16">
        <table class='width100'>
            <tr>
                <td class="centeredButton"><span class="tvAction" id="OSD-Menu">@Html.Raw(Button.BigRound("Menu"))</span></td>
            </tr>
            <tr>
                <td class="centeredButton"><span class="tvAction" id="OSD-Close">@Html.Raw(Button.BigRound("Back"))</span></td>
            </tr>
            <tr>
                <td class="centeredButton"><span class="tvAction" id="OSD-OK">@Html.Raw(Button.BigRound("Info"))</span></td>
            </tr>
        </table>
    </td>

    <td valign="top" class="width60">
        <div id="arrows">
            <table class='width100'>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><span class="tvAction" id="OSD-Up">@Html.Raw(Button.BigRound("Nav.Up"))</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="centeredButton"><span class="tvAction" id="OSD-Left">@Html.Raw(Button.BigRound("Nav.Left"))</span></td>
                    <td class="centeredButton"><span class="tvAction" id="OSD-OK">@Html.Raw(Button.BigRound("OK"))</span></td>
                    <td class="centeredButton"><span class="tvAction" id="OSD-Right">@Html.Raw(Button.BigRound("Nav.Right"))</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><span class="tvAction" id="OSD-Down">@Html.Raw(Button.BigRound("Nav.Down"))</span></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </td>

    <td valign="top" class="width16">
  	    <table class='width100'>
		    <tr>
			    <td class="centeredButton"><span class="tvAction" id="OSD-Red">@Html.Raw(Button.SmallRound("Colours.Red"))</span></td>
            </tr><tr>
			    <td class="centeredButton"><span class="tvAction" id="OSD-Green">@Html.Raw(Button.SmallRound("Colours.Green"))</span></td>
            </tr><tr>
			    <td class="centeredButton"><span class="tvAction" id="OSD-Yellow">@Html.Raw(Button.SmallRound("Colours.Yellow"))</span></td>
            </tr><tr>
			    <td class="centeredButton"><span class="tvAction" id="OSD-Blue">@Html.Raw(Button.SmallRound("Colours.Blue"))</span></td>
		    </tr><tr>
			    <td class="centeredButton"><span class="tvAction" id="OSD-Show+Subtitlemenu">@Html.Raw(Button.SmallRound("TVText"))</span></td>
            </tr>
	    </table>
    </td>

</tr>
</table>
  
    <br />

<div id="digits">
    <table class='width100'>
	  <tr>
		  <td class="centeredButton"><span class="tvAction" id="Channel1">@Html.Raw(Button.SmallRound("Keyboard.Numbers.1"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel2">@Html.Raw(Button.SmallRound("Keyboard.Numbers.2"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel3">@Html.Raw(Button.SmallRound("Keyboard.Numbers.3"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel4">@Html.Raw(Button.SmallRound("Keyboard.Numbers.4"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel5">@Html.Raw(Button.SmallRound("Keyboard.Numbers.5"))</span></td>
	  </tr>
	  <tr>
		  <td class="centeredButton"><span class="tvAction" id="Channel6">@Html.Raw(Button.SmallRound("Keyboard.Numbers.6"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel7">@Html.Raw(Button.SmallRound("Keyboard.Numbers.7"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel8">@Html.Raw(Button.SmallRound("Keyboard.Numbers.8"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel9">@Html.Raw(Button.SmallRound("Keyboard.Numbers.9"))</span></td>
		  <td class="centeredButton"><span class="tvAction" id="Channel0">@Html.Raw(Button.SmallRound("Keyboard.Numbers.0"))</span></td>
	  </tr>
    </table>
</div>
