<div class="tvControls" id="tvControls">
    @{
        var currentlyWatching = VideoTV.CurrentlyWatching;
        var nowAndNext = currentlyWatching != null ? VideoTV.GetNowAndNext(currentlyWatching.Channel) : null;
        var nowTitle = nowAndNext != null && nowAndNext.Count() > 0 ? nowAndNext.First().Title : "";
        var nextStart = nowAndNext != null && nowAndNext.Count() > 1 ? nowAndNext.Skip(1).First().StartTime.ToLocalTime().ToShortTimeString() : "";
        var nextTitle = nowAndNext != null && nowAndNext.Count() > 1 ? nowAndNext.Skip(1).First().Title : "";
        <div class="tvPlayingInfo">
            <div class="tvCurrentChannelName" id="tvCurrentChannelName">@(currentlyWatching != null ? currentlyWatching.Channel.Name : "")</div>
            <div class="tvCurrentProgramme" id="tvCurrentProgramme">@nowTitle</div>
            <div class="tvProgrammeInfo">
                <div class="tvNextPrograme" id="tvNextPrograme">@(nextStart): @nextTitle</div>
            </div>
        </div>
        <br />
        <table class="width100">
            <tr>
                <td class="centeredButton">
                    <div class="tvProgrammeIsRecord startHidden" id="IsRecording">Recording</div>
                    <span class="tvProgrammeRecord" id="Record">@Html.Raw(Button.SmallRound("Rec"))</span>
                </td>
                <td class="centeredButton"><span id="tvPlayPause">@Html.Raw(Button.Rect("PlayPause"))</span></td>
                <td class="centeredButton"><span id="tvStop">@Html.Raw(Button.Square("Stop"))</span></td>
            </tr>
        </table>
        <br />
        <br />
        <table class='width100'>
            <tr>
                <td class="centeredButton"><span id="tvBack60">@Html.Raw(Button.Square("Minus60"))</span></td>
                <td class="centeredButton"><span id="tvBack10">@Html.Raw(Button.Square("Minus10"))</span></td>
                <td class="centeredButton"><span id="tvForward10">@Html.Raw(Button.Square("Plus10"))</span></td>
                <td class="centeredButton"><span id="tvForward60">@Html.Raw(Button.Square("Plus60"))</span></td>
            </tr>
        </table>
        <br />
        <br />

        <table class='width100'>
            <tr>
                <td class="tvPlaybackStatus width30">&nbsp;</td>
                <td class="tvPlaybackStatus width40"><span id="tvPlaybackCurrentStatus">&nbsp;</span></td>
                <td class="tvPlaybackStatus width30">&nbsp;</td>
            </tr>
        </table>
        <table class='width100'>
            <tr>
                <td class="tvPlaybackStatus alignLeft width30"><span id="tvPlaybackStartTime">&nbsp;</span></td>
                <td class="tvPlaybackStatus width40"><span id="tvPlaybackPositionTime">&nbsp;</span></td>
                <td class="tvPlaybackStatus alignRight width30"><span id="tvPlaybackEndTime">&nbsp;</span></td>
            </tr>
        </table>
        <div>
            <div id="liveTvPosSlider" class="liveTvPosSlider noUiSlider">&nbsp;</div>
        </div>
    }
</div>