@{
    ViewBag.Title = "TV";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("tv"))
}

@Html.Partial("PaneButtons")
<div class="tvControlPane" id="tvControlPane">
    @Html.Partial("ControlPane")
</div>

