@await Html.PartialAsync("TopBar")
@section scripts {
@Html.Raw(Render.Script("topBar"))
@Html.Raw(Render.Script("home"))
@Html.Raw(Render.Script("streaming"))
}

<div class="@(ViewBag.HideRokuClass ?? "")">
    @await Html.PartialAsync("PaneButtons")
</div>
<div id="rokuControlsPane">
    <div id="rokuControlsPane" class="rokuControlsPane @(ViewBag.HideRokuClass ?? "")">
        <div class="rokuControls">
            @await Html.PartialAsync("RokuControlsPane")
        </div>
    </div>
    <div id="smartControlsPane" class="smartControlsPane @(ViewBag.HideSmartClass ?? "")">
        <div class="smartControls">
            @await Html.PartialAsync("SmartControlsPane")
        </div>
    </div>
</div>
