<div class="securityZoneItems">
    @foreach (var zone in Security.GetZoneNames())
    {
        <div class="securityZoneItem" id="@zone">
            <span class="securityZoneOn startHidden" id="@zone">@Html.Raw(Button.SmallRound("ThumbsUp"))</span>
            <span class="securityZoneOff startHidden" id="@zone">@Html.Raw(Button.SmallRound("ThumbsDown"))</span>
            <div class="securityZoneName">
                @zone
            </div>
        </div>
    }
</div>
