@{
	ViewBag.Title = "Music";
}

@await Html.PartialAsync("TopBarWide")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("homeWide"))
    @Html.Raw(Render.Script("music"))
}

<script type="text/javascript">var JrmcUrl = '@JRMC.Url'; var JrmcHost = '@JRMC.Host';</script>

<div id="musicPanes">
    <div id ="musicLeftPane">
        <div id="musicBrowserPane">
            @await Html.PartialAsync("BrowserSearchPane")
            <div class="musicBrowserItems" id="musicBrowserItems">
                @await Html.PartialAsync("BrowserPane")
            </div>
        </div>
    </div>

    <div id ="musicRightPane">
         <div id="musicQueuePane">
            <div class="musicPlaybackQueueItems" id="musicPlaybackQueueItems">
                @await Html.PartialAsync("QueuePane")
            </div>
        </div>

        <div id="musicControlPane">
            <div class="musicPlayback">
                @await Html.PartialAsync("PlayingPane")
            </div>        
        </div>
    </div>
</div>
