<div id="playingnow">
    <div class="subtitle_empty"></div>
    <div class="musicPlayingTrack">
		<img id="PlaybackInfo.ImageURL" src="/Content/JRMC.png" class="musicInfoImage" alt="No Image" />
		<div>
            <span id="PlaybackInfo.ClassicalComposer" class="musicInfoComposer"></span>
		    <span id="PlaybackInfo.Name" class="musicInfoTrackName"></span>
		</div>
		<div id="PlaybackInfo.Artist" class="musicInfoArtist"></div>
		<div id="PlaybackInfo.Album" class="musicInfoAlbum"></div>
	</div>
</div>

<div class="musicPlaybackControls">
	<table class='width100'>
		<tr>
			<td class="centeredButton"><span id="musicPrev">@Html.Raw(Button.Square("Prev"))</span></td>
	        <td class="centeredButton"><span id="musicMinus10">@Html.Raw(Button.Square("Minus10"))</span></td>
			<td class="centeredButton"><span id="musicPlayPause">@Html.Raw(Button.Rect("PlayPause"))</span></td>
	        <td class="centeredButton"><span id="musicPlus10">@Html.Raw(Button.Square("Plus10"))</span></td>
			<td class="centeredButton"><span id="musicNext">@Html.Raw(Button.Square("Next"))</span></td>
		</tr>
	</table>
			  
	<table class='width100'>
		<tr>
		    <td class="musicPlaybackStatus width30" id="PlaybackInfo.Status">&nbsp;</td>
            <td class="musicPlaybackStatus width40" id="PlaybackInfo.PositionDisplay">&nbsp;</td>
            <td class="musicPlaybackStatus width30" id="PlaybackInfo.PlayingNowPositionDisplay">&nbsp;</td>
		</tr>
	</table>

    <div>
        <div id="musicPosSlider" class="musicPosSlider noUiSlider">&nbsp;</div>
    </div>

</div>
