@{
	ViewBag.Title = "Music";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("music"))
}

@Html.Partial("PaneButtons")
<div class="musicPlaybackQueueItems" id="musicPlaybackQueueItems">
    @Html.Partial("QueuePane")
</div>