@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("home"))
}

<table class="buttonGrid">
    <tr>
        <td class="centeredButton"><span id="selectCast">@Html.Raw(Button.LongRect("Cast"))</span></td>
        <td class="centeredButton"><span id="selectRoku">@Html.Raw(Button.LongRect("Roku"))</span></td>
        <td class="centeredButton"><span id="selectVideo">@Html.Raw(Button.LongRect("Video"))</span></td>
    </tr>
    <tr>
        <td class="centeredButton"><span id="selectBluetooth">@Html.Raw(Button.LongRect("Bluetooth"))</span></td>
        <td class="centeredButton"><span id="selectSpotify">@Html.Raw(Button.LongRect("Spotify"))</span></td>
        <td class="centeredButton"><span id="selectMusic">@Html.Raw(Button.LongRect("Music"))</span></td>
    </tr>
    <tr>
        <td class="centeredButton"><span id="selectEpg">@Html.Raw(Button.LongRect("Guide"))</span></td>
        <td class="centeredButton"><span id="selectSecurity">@Html.Raw(Button.LongRect("Security"))</span></td>
        <td class="centeredButton"><span id="selectTV">@Html.Raw(Button.LongRect("TV/LG"))</span></td>
    </tr>
    @if (!Screen.IsOn || !(Receiver.SelectedInput == "Computer"))
    {
        <tr>
        <td class="centeredButton"></td>
        <td class="centeredButton"><span id="selectPC">@Html.Raw(Button.Rect("PC"))</span></td>
        <td class="centeredButton"></td>
        </tr>
    }
</table>

 @if (Screen.IsOn && Receiver.SelectedInput == "Computer")
{
    <p/>
    <p/>
    <p/>
    <p/>
    <table align="center" class='width100'>
        <tr>
            <td valign="top" class="width16">&nbsp;</td>
            <td valign="top" class="width60">
                <div id="arrows">
                    <table class='width100'>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><span class="playerActionButton" id="Up">@Html.Raw(Button.BigRound("[[Arrow_Upward]]"))</span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="centeredButton"><span class="playerActionButton" id="Left">@Html.Raw(Button.BigRound("[[Arrow_Back]]"))</span></td>
                            <td class="centeredButton"><span class="playerActionButton" id="Enter">@Html.Raw(Button.BigRound("OK"))</span></td>
                            <td class="centeredButton"><span class="playerActionButton" id="Right">@Html.Raw(Button.BigRound("[[Arrow_Forward]]"))</span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><span class="playerActionButton" id="Down">@Html.Raw(Button.BigRound("[[Arrow_Downward]]"))</span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><span class="playerActionButton" id="Backspace">@Html.Raw(Button.BigRound("[[Undo]]"))</span></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td valign="top" class="width16">&nbsp;</td>

        </tr>
    </table>

}

