<div id="playingnow">
    <div class="subtitle_empty"></div>
    <div class="spotifyPlayingTrack">
		<img id="SpotifyInfoImageURL" src="/Content/Spotify.png" class="spotifyInfoImage" alt="Playing Track Image" />
		<div id="SpotifyInfoName" class="spotifyInfoTrackName"></div>
		<div id="SpotifyInfoArtist" class="spotifyInfoArtist"></div>
		<div id="SpotifyInfoAlbum" class="spotifyInfoAlbum"></div>
	</div>
</div>

<div class="spotifyPlaybackControls">
	<table class='width100'>
		<tr>
			<td class="centeredButton"><span id="spotifyPrev">@Html.Raw(Button.Square("Prev"))</span></td>
	        <td class="centeredButton"><span id="spotifyMinus10">@Html.Raw(Button.Square("Minus10"))</span></td>
			<td class="centeredButton"><span id="spotifyPlayPause">@Html.Raw(Button.Rect("PlayPause"))</span></td>
	        <td class="centeredButton"><span id="spotifyPlus10">@Html.Raw(Button.Square("Plus10"))</span></td>
			<td class="centeredButton"><span id="spotifyNext">@Html.Raw(Button.Square("Next"))</span></td>
		</tr>
	</table>
			  
	<table class='width100'>
		<tr>
            <td class="spotifyPlaybackStatus width30" id="SpotifyInfoStatus">&nbsp;</td>
            <td class="spotifyPlaybackStatus width40" id="SpotifyInfoPositionDisplay">&nbsp;</td>
            <td class="spotifyPlaybackStatus width30" id="SpotifyInfoPlayingNowPositionDisplay">&nbsp;</td>
		</tr>
	</table>

    <div>
        <div id="spotifyPosSlider" class="spotifyPosSlider noUiSlider">&nbsp;</div>
    </div>

</div>
