@{
    ViewBag.Title = "Video";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("video"))
}

@Html.Partial("PaneButtons")
<div class="videoDvds" id="videoDvds">
    @Html.Partial("DVDsPane")
</div>
