@{
    ViewBag.Title = "Video";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("video"))
}

@Html.Partial("PaneButtons")
<div class="videoWatchPane" id="videoWatchPane">
    @Html.Partial("WatchPane")
</div>
