<div id="videoPlaying">
    <div class="videoTitle" align="center"><strong>@(VideoTV.Title)</strong></div>

    <table class='width100'>
        <tr>
            <td class="centeredButton">
                @if (VideoTV.IsDvdMode)
                {
                    <span id="videoDvdMenu">@Html.Raw(Button.Rect("Menu"))</span>
                }
                else
                {
                    <text>&nbsp;</text>
                }
            </td>
            <td class="centeredButton"><span id="videoPlayPause">@Html.Raw(Button.Rect("PlayPause"))</span></td>
            <td class="centeredButton"><span id="videoStop">@Html.Raw(Button.Square("Stop"))</span></td>
        </tr>
    </table>
    <br />
    <br />
    <table class='width100'>
        <tr>
            <td class="centeredButton"><span id="videoBack60">@Html.Raw(Button.Square("Minus60"))</span></td>
            <td class="centeredButton"><span id="videoBack10">@Html.Raw(Button.Square("Minus10"))</span></td>
            <td class="centeredButton"><span id="videoForward10">@Html.Raw(Button.Square("Plus10"))</span></td>
            <td class="centeredButton"><span id="videoForward60">@Html.Raw(Button.Square("Plus60"))</span></td>
        </tr>
    </table>

    <div class="videoTimelineInfo" id="videoTimelineInfo"></div>
    <table class='width100'>
        <tr>
            <td><div class="videoInfoLeft" id="PlaybackInfo.ElapsedTimeDisplay" /></td>
            <td><div class="videoInfoRight" id="PlaybackInfo.TotalTimeDisplay" /></td>
        </tr>
    </table>
    <br />
    <div>
        <div id="videoPosSlider" class="videoPosSlider noUiSlider">&nbsp;</div>
    </div>
    <br />
    <br />
    <br />
    <fieldset class="widthFit centered">
        <legend>Audio sync</legend>
        <table class="widthFit">
            <tr>
                <td class="centeredButton"><span id="videoAudioBack50">@Html.Raw(Button.Square("-50"))</span></td>
                <td class="centeredButton"><span id="videoAudioBack10">@Html.Raw(Button.Square("-10"))</span></td>
                <td class="centeredButton"><span id="videoAudioReset">@Html.Raw(Button.Square("=0="))</span></td>
                <td class="centeredButton"><span id="videoAudioAdvance10">@Html.Raw(Button.Square("+10"))</span></td>
                <td class="centeredButton"><span id="videoAudioAdvance50">@Html.Raw(Button.Square("+10"))</span></td>
            </tr>
        </table>
    </fieldset>

</div>

@if (VideoTV.IsDvdMode)
{
<div id="videoMenu">
    <br />
    <table>
        <tr>
            <td>&nbsp;</td>
            <td class="centeredButton"><span id="videoMenuUp">@Html.Raw(Button.BigRound("Nav.Up"))</span></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="centeredButton"><span id="videoMenuLeft">@Html.Raw(Button.BigRound("Nav.Left"))</span></td>
            <td class="centeredButton"><span id="videoMenuSelect">@Html.Raw(Button.BigRound("OK"))</span></td>
            <td class="centeredButton"><span id="videoMenuRight">@Html.Raw(Button.BigRound("Nav.Right"))</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="centeredButton"><span id="videoMenuDown">@Html.Raw(Button.BigRound("Nav.Down"))</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="centeredButton"><span id="videoStop">@Html.Raw(Button.Square("Stop"))</span></td>
        </tr>
    </table>

</div>
}