<table class="width100">
	<tr>
		<td align="center" class="width60">
		<table>
			<tr>
				<td>&nbsp;</td>
				<td class="centeredButton"><span id="btnUp" alt="">@Html.Raw(Button.BigRound("Nav.Up"))</span></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td class="centeredButton"><span id="btnLeft" alt="">@Html.Raw(Button.BigRound("Nav.Left"))</span></td>
				<td>&nbsp;</td>
				<td class="centeredButton"><span id="btnRight" alt="">@Html.Raw(Button.BigRound("Nav.Right"))</span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="centeredButton"><span id="btnDown" alt="">@Html.Raw(Button.BigRound("Nav.Down"))</span></td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</td>
		<td class="centeredButton width10"></td>
		<td class="centeredButton width30">
		    <table>
			    <tr>
				    <td>&nbsp;</td>
			    </tr>
			    <tr>
				    <td class="centeredButton"><span id="btnPlus" alt="">@Html.Raw(Button.BigRound("Plus"))</span></td>
			    </tr>
			    <tr>
				    <td>&nbsp;</td>
			    </tr>
			    <tr>
				    <td class="centeredButton"><span id="btnMinus" alt="">@Html.Raw(Button.BigRound("Minus"))</span></td>
			    </tr>
		    </table>
		</td>
	</tr>
</table>
<br />
<br />
<table class="width100">
	  <tr>
        <td class="centeredButton width25"><span id="btnPrev" alt="">@Html.Raw(Button.Square("Prev"))</span></td>
		<td class="centeredButton width50"><span id="btnPlayPause">@Html.Raw(Button.Rect("PlayPause"))</span></td>
        <td class="centeredButton width25"><span id="btnNext" alt="">@Html.Raw(Button.Square("Next"))</span></td>
	  </tr>
</table>
