@{
    ViewBag.Title = "Photo";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("photos"))
}

@Html.Partial("PaneButtons")
<div class="photosImagesGrid" id="photosImagesGrid">
    @Html.Partial("ImagesPane")
</div>
